# Environment secrets
.env

# Python cache & compiled files
__pycache__/
*.pyc

# Local data & artifacts (NOW TRACKED FOR PLAN B)
# outputs/
# *.pkl
# *.joblib

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# PDF files
*.pdf

# Virtual environments
venv/
.venv/
env/

# OS files
.DS_Store

# Hopsworks download cache
*.zip
hsml-*
